@media only screen and (min-width:768px) and (max-width:1024px) {
  :root {
    --black-text: #262626;
    --bg-black: #110D15;
    --light-green: #4ADB50;
    --white-color: #fff;
    --dark-green: #29820A;
    --white-foundation: #F5F4F4;
    --foundation-white: #F5F4F4;
    --ztc-bg-bg-3: rgb(74, 219, 80);
    --font-family: "Montserrat", sans-serif;
  }

  body,
  html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--foundation-white);
  }


  /* LANDING PAGE LANDING PAGE LANDING PAGE LANDING PAGE  */
  .hero2-section-area {
    padding: 150px 0px 40px 0px;
    padding-top: 90px;
  }

  .hero2-section-area {
    margin-top: 70px;
    background: #110D15;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background: radial-gradient(circle at 50% 50%, rgba(3, 14, 0, 1) 94%, rgba(74, 219, 80) 100%, rgba(74, 219, 80, 1) 100%); */
  }

  .hero-content {
    width: 100%;
  }

  .hero-content .tg-element-title {
    font-size: 36.1px;
    line-height: 50.13px;
  }


  .hero-content .sub-title {
    width: 100%;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
  }

  .hero-content .btn-area {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
  }


  .hero-content .hero-abs,
  .hero-content .hero-abs2 {
    display: none;
  }


  .hero-content .hero-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
  }


  .hero-content .hero-grid .single-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
    padding: 15px 10px;
  }

  .hero-content .hero-grid .single-grid h5 {
    text-align: center;
  }

  .hero-content .hero-grid .single-grid p {
    text-align: center;
    font-size: 13px;
  }

  /* PARTNER SECTION   */
  .partner-section-area {
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 20px;
    background: var(--white-foundation);

  }

  .heading-tag h6 {
    font-size: 38px;
    font-weight: 500;
    line-height: 34.13px;
    margin-bottom: 15px;
  }

  .partner-section-area .partners-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 19.12px;
    row-gap: 19.1px;
    margin-top: 30px;
  }

  .partner-section-area .partners-grid img {
    width: 100%;
  }



  /* WHY YOU CHOOSE US AND FAQ SECTION  */

  .faq2-section-area {
    padding: 100px 0px;
    padding-top: 40px;
    background: var(--foundation-white);
  }

  .faq-content {
    background: var(--white-color);
    padding: 4px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 30px;
  }


  .faq-content .left-content {
    padding: 60px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .faq-content .left-content h5 {
    font-size: 35px;
    font-weight: 500;
    line-height: 39.13px;
    text-align: center;
  }

  .faq-content .left-content p {
    font-size: 20px;
    font-weight: 300;
    line-height: 29.6px;
    text-align: center;
  }


  /* how-to-convert-section */


  .how-to-convert-section .htc-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    margin-top: 50px;
  }


  .how-to-convert-section .htc-grid .item .top .value-circle span {
    font-size: 20.04px;
  }





  /* FREE BETS CODE SECTION  */
  .free-bets-code-section {
    padding: 80px 0px;
  }

  .free-bets-code-section .content .heading-tag {
    background: #fefffe;
    border-radius: 30px;
    padding: 80px 20px;
  }

  .free-bets-code-section .content .heading-tag h6 {
    text-transform: uppercase;
  }

  .free-bets-code-section .content .heading-tag p {
    font-size: 22px;
    font-weight: 400;
    line-height: 25.6px;
  }


  .selectors {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    row-gap: 16px;
    margin-top: 30px;
  }

  .see-more .seemore-btn {
    width: 100%;
  }



  /* EXPLORE DEVELOPER API SECTION  */
  .explore-api .content {
    overflow: hidden !important;
  }

  .explore-api .content .dark-header h6 {
    font-size: 35px;
    font-weight: 500;
    line-height: 38.38px;
    text-align: center;
  }

  .explore-api .content .dark-header p {
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
  }

  .explore-api .explore-btn {
    margin-top: 30px;
    width: 100%;
  }

  .explore-api .explore-btn a {
    width: 100%;
  }

  .explore-api .explore-abs {
    position: absolute;
    content: "";
    width: 150px;
  }

  .footer2-section-area .footer-logo-content .logo-content .short-bio {
    padding-right: 0px !important;
    font-size: 22px;
    font-weight: 300;
    line-height: 30.8px;
    margin-bottom: 25px;
    /* text-align: center; */
  }


  .footer2-section-area .copyright {
    padding: 15px 0px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* PRICING PRICING PRICING PRICIN  PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING PRICING  PRICING PRICING PRICING  PRICING PRICING PRICING PRICING PRICING PRICINGPRICING PRICING PRICING  PRICING PRICING PRICING PRICING PRICING PRICING */

  .content-wrapper.pricing .how-to-convert-section {
    padding-top: 60px;
  }

  .data-container .sub-section-grid-price {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 40px;
  }

  .data-container .sub-section-grid-price .single-item {
    overflow: hidden;
    padding: 30px 20px 30px 20px;
    border-radius: 20px;
  }






  /* API DOCUMENTATION API DOAPI DOCUMENTATIONAPI DOCUMENTATIONCUMENTATIONAPI DOCUMENTATIONAPI DOCUMENTATIONAPI DOCUMENTATIONAPI DOCUMENTATIONAPI DOCUMENTATIONAPI DOCUMENTATIONAPI DOCUMENTATIONAPI DOCUMENTATIONAPI DOCUMENTATIONAPI DOCUMENTATIONAPI DOCUMENTATIONAPI DOCUMENTATION */

  /* button in the sidebar  */
  .allmobilesection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .mobile-sidebar.mobile-sidebar2 .mobile-nav.mobile-nav1 .header-btn3 {
    width: 100%;
    text-align: center;
    margin-top: 0px;
  }

  .partner-section-area {
    margin-top: 50px;
  }

  .data-container {
    padding: 4px;
  }

  .data-container .main-header {
    padding: 80px 10px;
  }

  .data-container .main-header .element h1 {
    font-size: 45px;
    line-height: 45.13px;
  }

  .data-container .main-header .element p {
    font-size: 24px;
    font-weight: 300;
    line-height: 35.6px;
  }

  .data-container .sub-section-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 16px;
    margin-top: 30px;
  }


  .data-container .sub-section-grid .single-item .single-top {
    width: 100%;
    height: 10px;
  }

  .data-container .sub-section-grid .single-item .single-top img {
    width: 100%;
    height: 100%;
  }


  .data-container .sub-section-grid .single-item .single-down {
    padding: 20px;
  }

  .data-container .sub-section-grid .single-item .single-down img {
    width: 50px;
  }

  .data-container .sub-section-grid .single-item .single-down p {
    font-size: 30px;
  }

  .data-container .sub-section-grid .single-item .single-down span {
    font-size: 20px;
    line-height: 26px;
  }


  .data-container .sub-section-grid .single-item .single-down a {
    margin-top: 10px;
  }



  /* 
        FREE CODES FREE CODES FREE CODES FREE CODES FREE CODES FREE CODES FREE CODES FREE CODES FREE CODES FREE CODES FREE CODES FREE CODES FREE CODES FREE CODES FREE CODES FREE CODES FREE CODES FREE CODES FREE CODES FREE CODES FREE CODES FREE CODES FREE CODES FREE CODES
        FREE CODES FREE CODES FREE CODES */

  .sub-section-grid-freecodes .free-bets-code-section {

    padding: 0px 0px;
    padding-top: 0px;
    margin-top: -10px;
  }


  /* HOT PREDICTIONS HOT PREDICTIONS HOT PREDICTIONS HOT PREDICTIONS HOT PREDICTIONS HOT PREDICTIONS HOT PREDICTIONS v HOT PREDICTIONS HOT PREDICTIONS HOT PREDICTIONS HOT PREDICTIONS HOT PREDICTIONS HOT PREDICTIONS HOT PREDICTIONS HOT PREDICTIONS HOT PREDICTIONS HOT PREDICTIONS  */
  .hot-predictions .selectors {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 16px;
    row-gap: 16px;
    margin-top: 50px;
  }









  /* DASHBOARD DASHBOARD DASHBOARD DASHBOARD DASHBOARD DASHBOARD DASHBOARD DASHBOARD DASHBOARD DASHBOARD DASHBOARD DASHBOARD */
  .content-wrapper.dashboard .dashboard-content .sub-header h5 {
    font-size: 38px;
  }

  .content-wrapper.dashboard .dashboard-content .sub-header .email-verification {
    font-size: 15px;
  }


  .content-wrapper.dashboard .dashboard-content .dashboard-element {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
  }

  .content-wrapper.dashboard .dashboard-content .dashboard-element .single-item {
    padding: 15px 10px;
    border-radius: 20px;
    border: 1px solid #C7F4C9;
    height: 150px;
    background: url('../img/patterns/dashboard-pattern.png');
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content-wrapper.dashboard .dashboard-content .dashboard-element .single-item .text {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .content-wrapper.dashboard .dashboard-content .dashboard-element .single-item .text p {
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: var(--black-text);
  }

  .content-wrapper.dashboard .dashboard-content .dashboard-element .single-item .text h6 {
    font-size: 16px;
    color: var(--black-text);
  }


  .content-wrapper.dashboard .dashboard-content .dashboard-element .single-item .icon {
    width: 40.64px;
    height: 40.64px;
    border-radius: 50%;
  }

  .content-wrapper.dashboard .dashboard-content .dashboard-element .single-item .icon i {
    font-size: 16px;
  }


  .api-integration-tag-content {
    display: none;
  }



  .content-wrapper.dashboard .dashboard-content .api-integration-tag-content .api-key .api-header {
    margin-top: 30px;
  }

  .api-integration-tag-content .api-key .api-header p {
    font-size: 18px;
  }


  .api-integration-tag-content .api-key .api-content span {
    font-size: 18px;
  }




  .content-wrapper.dashboard .explore-api .content {
    overflow: hidden;
    position: relative;
  }

  .content-wrapper.dashboard .explore-api {
    padding-top: 60px;
    padding-bottom: 60px;
  }

}