{% extends 'layout/base.html' %} {% load static %} {% block content %}

<!-- ===== CONTENT WRAPPER =======  -->
<div class="content-wrapper">
  <div class="container">
    <div class="data-container">
      <div class="main-header">
        <div class="element">
          <h1>API DOCUMENTATION</h1>
          <p>
            It is a service that transfers bet selections from one betting site
            to another. Otherwise, bettors give up
          </p>
        </div>
      </div>
      <div class="sub-section-grid">
        <!-- single item start  -->
        <div class="single-item">
          <div class="single-top">
            <img
              src="{% static 'assets/img/patterns/api-documentation-pattern.png' %}"
              alt=""
            />
          </div>
          <div class="single-down">
            <img src="{% static 'assets/img/icons/api-documentation-icon.png' %}" alt="" />
            <p>API Key</p>
            <span
              >You will need an API KEY to make api calls, to request for an API
              KEY</span
            >
            <a href="" class="hero-btn btn2"
              >Contact Us
              <i class="fa-solid fa-angle-right"></i>
            </a>
          </div>
        </div>
        <!-- single item ends  -->

        <!-- single item start  -->
        <div class="single-item">
          <div class="single-top">
            <img
              src="{% static 'assets/img/patterns/api-documentation-pattern.png ' %}"
              alt=""
            />
          </div>
          <div class="single-down">
            <img src="{% static 'assets/img/icons/api-documentation-icon.png ' %}" alt="" />
            <p>API Documentation</p>
            <span
              >Create any type of bet conversion flow, from any bookie to your
              preferred bookie, and everything in between.</span
            >
            <a href="" class="hero-btn btn2"
              >See Documentation
              <i class="fa-solid fa-angle-right"></i>
            </a>
          </div>
        </div>
        <!-- single item ends  -->

        <!-- single item start  -->
        <div class="single-item">
          <div class="single-top">
            <img
              src="{% static 'assets/img/patterns/api-documentation-pattern.png ' %}"
              alt=""
            />
          </div>
          <div class="single-down">
            <img src="{% static 'assets/img/icons/api-documentation-icon.png ' %}" alt="" />
            <p>Explore Now</p>
            <span>Try it out Now!!!</span>
            <a href="" class="hero-btn btn2"
              >Explore Now
              <i class="fa-solid fa-angle-right"></i>
            </a>
          </div>
        </div>
        <!-- single item ends  -->
      </div>
    </div>
  </div>

  <!--===== PARTNER AREA STARTS =======-->
  <div class="partner-section-area pt-3">
    <div class="container">
      <div class="row">
        <div class="heading-tag">
          <h6 data-aos="fade-left" data-aos-duration="800">Trusted Partners</h6>
        </div>
        <div class="partners-grid">
          <div class="single-partner">
            <img
              src="{% static 'assets/img/partners/partner1.png' %}"
              alt=""
              data-aos="fade-down"
              data-aos-duration="600"
            />
          </div>
          <div class="single-partner">
            <img
              src="{% static 'assets/img/partners/partner2.png' %}"
              alt=""
              data-aos="fade-down"
              data-aos-duration="800"
            />
          </div>
          <div class="single-partner">
            <img
              src="{% static 'assets/img/partners/partner3.png' %}"
              alt=""
              data-aos="fade-down"
              data-aos-duration="1000"
            />
          </div>

          <div class="single-partner">
            <img
              src="{% static 'assets/img/partners/partner4.png' %}"
              alt=""
              data-aos="fade-up"
              data-aos-duration="600"
            />
          </div>
          <div class="single-partner">
            <img
              src="{% static 'assets/img/partners/partner5.png' %}"
              alt=""
              data-aos="fade-up"
              data-aos-duration="800"
            />
          </div>
          <div class="single-partner">
            <img
              src="{% static 'assets/img/partners/partner6.png' %}"
              alt=""
              data-aos="fade-up"
              data-aos-duration="1000"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== PARTNER AREA ENDS =======-->

  <!--===== FAQ AREA STARTS =======-->
  <div class="faq2-section-area">
    <div class="container">
      <div class="faq-content">
        <div class="left-content" data-aos="zoom-in" data-aos-duration="1000">
          <img src="{% static 'assets/img/icons/faq-icon.png' %}" alt="" />
          <h5>Frequently Asked Questions</h5>
          <p>
            It is a service that transfers bet selections from one betting site
            to another. Otherwise, bettors give up
          </p>
        </div>
        <div class="right">
          <div class="faq-auhtor-area1">
            <div
              class="accordion accordion-flush active"
              id="accordionFlushExample"
            >
              <div
                class="accordion-item"
                data-aos="fade-left"
                data-aos-duration="800"
              >
                <h2 class="accordion-header">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne"
                    aria-expanded="false"
                    aria-controls="flush-collapseOne"
                  >
                    Developer API
                  </button>
                </h2>
                <div
                  id="flush-collapseOne"
                  class="accordion-collapse collapse show"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">
                    Whether you're wondering about our pricing plans, process
                    installation , or sustainability initiatives, we've got
                    Best.
                  </div>
                </div>
              </div>
              <div class="space10"></div>
              <div
                class="accordion-item"
                data-aos="fade-left"
                data-aos-duration="1000"
              >
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo"
                    aria-expanded="false"
                    aria-controls="flush-collapseTwo"
                  >
                    Developer API
                  </button>
                </h2>
                <div
                  id="flush-collapseTwo"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">
                    Lorem ipsum dolor sit amet consectetur. Et consectetur
                    sodales tortor vulputate in. Porttitor
                  </div>
                </div>
              </div>
              <div class="space10"></div>
              <div
                class="accordion-item"
                data-aos="fade-left"
                data-aos-duration="1200"
              >
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree"
                    aria-expanded="false"
                    aria-controls="flush-collapseThree"
                  >
                    Developer API
                  </button>
                </h2>
                <div
                  id="flush-collapseThree"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">
                    Lorem ipsum dolor sit amet consectetur. Et consectetur
                    sodales tortor vulputate in. Porttitor
                  </div>
                </div>
              </div>
              <div class="space10"></div>
              <div
                class="accordion-item"
                data-aos="fade-left"
                data-aos-duration="1400"
              >
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFour"
                    aria-expanded="false"
                    aria-controls="flush-collapseFour"
                  >
                    Developer API
                  </button>
                </h2>
                <div
                  id="flush-collapseFour"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">
                    Lorem ipsum dolor sit amet consectetur. Et consectetur
                    sodales tortor vulputate in. Porttitor
                  </div>
                </div>
              </div>
              <div class="space10"></div>
              <div
                class="accordion-item"
                data-aos="fade-left"
                data-aos-duration="1400"
              >
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFive"
                    aria-expanded="false"
                    aria-controls="flush-collapseFive"
                  >
                    Developer API
                  </button>
                </h2>
                <div
                  id="flush-collapseFive"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">
                    Lorem ipsum dolor sit amet consectetur. Et consectetur
                    sodales tortor vulputate in. Porttitor
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== FAQ AREA ENDS =======-->
</div>
<!-- ===== CONTENT WRAPPER =======  -->

{% endblock %}
