{% extends 'layout/base.html' %} {% load static %} {% block content %}

<!--===== HERO AREA STARTS =======-->
<div class="hero2-section-area" style="">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="hero-content-wrapper">
          <div class="hero-header hero-content">
            <h1
              class="tg-element-title"
              data-aos="fade-left"
              data-aos-duration="800"
            >
              Convert Bets Instantly for Maximum Winning Potential
            </h1>
            <p class="sub-title" data-aos="fade-left" data-aos-duration="1000">
              "Effortlessly decode betting slips and access our powerful API for
              seamless integrations."
            </p>

            <div class="btn-area" data-aos="fade-left" data-aos-duration="1200">
              <a href="" class="hero-btn btn2"
                >Convert Bet Codes
                <i class="fa-solid fa-arrow-right"></i>
              </a>

              <a href="" class="hero-btn2 btn2"
                >Explore API
                <i class="fa-solid fa-arrow-right"></i>
              </a>
            </div>

            <img
              class="hero-abs"
              src="{% static 'assets/img/icons/hero-abs.png' %}"
              alt=""
            />
            <img
              class="hero-abs2"
              src="{% static 'assets/img/icons/hero-abs2.png' %}"
              alt=""
            />

            <div class="hero-grid">
              <!-- single item  -->
              <div class="single-grid">
                <img
                  src="{% static 'assets/img/icons/hero-icon.png' %}"
                  alt=""
                />
                <h5>Bet Converter</h5>
                <p>
                  Convert bet selections from a different betting site to your
                  preferred site without losing out on exciting events.
                </p>
              </div>
              <!-- single item ends  -->

              <!-- single item  -->
              <div class="single-grid">
                <img
                  src="{% static 'assets/img/icons/hero-icon.png' %}"
                  alt=""
                />
                <h5>Developer API</h5>
                <p>
                  Integrate our powerful bet conversion API seamlessly into your
                  platform, designed to enhance your betting solutions with
                  precision
                </p>
              </div>
              <!-- single item ends  -->

              <!-- single item  -->
              <div class="single-grid">
                <img
                  src="{% static 'assets/img/icons/hero-icon.png' %}"
                  alt=""
                />
                <h5>Free Odds</h5>
                <p>
                  Maximize your bets with our free odds feature, offering
                  real-time, accurate conversions for an unbeatable edge.
                </p>
              </div>
              <!-- single item ends  -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--===== HERO AREA ENDS =======-->

<!--===== PARTNER AREA STARTS =======-->
<div class="partner-section-area">
  <div class="container">
    <div class="row">
      <div class="heading-tag">
        <h6 data-aos="fade-left" data-aos-duration="800">Trusted Partners</h6>
      </div>
      <div class="partners-grid">
        <div class="single-partner">
          <img
            src="{% static 'assets/img/partners/partner1.png' %}"
            alt=""
            data-aos="fade-down"
            data-aos-duration="600"
          />
        </div>
        <div class="single-partner">
          <img
            src="{% static 'assets/img/partners/partner2.png' %}"
            alt=""
            data-aos="fade-down"
            data-aos-duration="800"
          />
        </div>
        <div class="single-partner">
          <img
            src="{% static 'assets/img/partners/partner3.png' %}"
            alt=""
            data-aos="fade-down"
            data-aos-duration="1000"
          />
        </div>

        <div class="single-partner">
          <img
            src="{% static 'assets/img/partners/partner4.png' %}"
            alt=""
            data-aos="fade-up"
            data-aos-duration="600"
          />
        </div>
        <div class="single-partner">
          <img
            src="{% static 'assets/img/partners/partner5.png' %}"
            alt=""
            data-aos="fade-up"
            data-aos-duration="800"
          />
        </div>
        <div class="single-partner">
          <img
            src="{% static 'assets/img/partners/partner6.png' %}"
            alt=""
            data-aos="fade-up"
            data-aos-duration="1000"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!--===== PARTNER AREA ENDS =======-->

<!--===== WHY AREA STARTS =======-->
<div class="faq2-section-area">
  <div class="container">
    <div class="faq-content">
      <div class="left-content" data-aos="zoom-in" data-aos-duration="1000">
        <img src="{% static 'assets/img/icons/faq-icon.png' %}" alt="" />
        <h5>Why Choose ConvertMyBetCode?</h5>
        <p>
          Convertmybetcode is your ultimate tool for decoding bet slips across
          multiple bookmakers. Whether you're a casual bettoror a developer
          looking to integrate our powerful API, we've got you covered.
        </p>
      </div>
      <div class="right">
        <div class="faq-auhtor-area1">
          <div
            class="accordion accordion-flush active"
            id="accordionFlushExample"
          >
            <div
              class="accordion-item"
              data-aos="fade-left"
              data-aos-duration="400"
            >
              <h2 class="accordion-header">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne"
                  aria-expanded="false"
                  aria-controls="flush-collapseOne"
                >
                  Developer API
                </button>
              </h2>
              <div
                id="flush-collapseOne"
                class="accordion-collapse collapse show"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  Whether you're wondering about our pricing plans, process
                  installation , or sustainability initiatives, we've got Best.
                </div>
              </div>
            </div>
            <div class="space10"></div>
            <div
              class="accordion-item"
              data-aos="fade-left"
              data-aos-duration="400"
            >
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo"
                  aria-expanded="false"
                  aria-controls="flush-collapseTwo"
                >
                  Developer API
                </button>
              </h2>
              <div
                id="flush-collapseTwo"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet consectetur. Et consectetur sodales
                  tortor vulputate in. Porttitor
                </div>
              </div>
            </div>
            <div class="space10"></div>
            <div
              class="accordion-item"
              data-aos="fade-left"
              data-aos-duration="600"
            >
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseThree"
                  aria-expanded="false"
                  aria-controls="flush-collapseThree"
                >
                  Developer API
                </button>
              </h2>
              <div
                id="flush-collapseThree"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet consectetur. Et consectetur sodales
                  tortor vulputate in. Porttitor
                </div>
              </div>
            </div>
            <div class="space10"></div>
            <div
              class="accordion-item"
              data-aos="fade-left"
              data-aos-duration="600"
            >
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFour"
                  aria-expanded="false"
                  aria-controls="flush-collapseFour"
                >
                  Developer API
                </button>
              </h2>
              <div
                id="flush-collapseFour"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet consectetur. Et consectetur sodales
                  tortor vulputate in. Porttitor
                </div>
              </div>
            </div>
            <div class="space10"></div>
            <div
              class="accordion-item"
              data-aos="fade-left"
              data-aos-duration="800"
            >
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFive"
                  aria-expanded="false"
                  aria-controls="flush-collapseFive"
                >
                  Developer API
                </button>
              </h2>
              <div
                id="flush-collapseFive"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet consectetur. Et consectetur sodales
                  tortor vulputate in. Porttitor
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--===== WHY AREA ENDS =======-->

<!--===== HOW TO CONVERT CODES AREA STARTS =======-->
<div class="how-to-convert-section">
  <div class="container">
    <div class="content">
      <div class="dark-header">
        <h6 data-aos="fade-up" data-aos-duration="800">
          How to Use Convert Codes
        </h6>
        <p data-aos="fade-up" data-aos-duration="1000">
          It is a service that transfers bet selections from one betting site to
          another. Otherwise, bettors give up
        </p>
      </div>

      <!-- how to covert grid  -->
      <div class="htc-grid">
        <!-- single item  -->
        <div class="item" data-aos="flip-right" data-aos-duration="2000">
          <div class="top">
            <div class="outer-circle">
              <div class="middle-circle">
                <div class="inner-circle">
                  <div class="value-circle">
                    <span> 01 </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="down">
            <p>Enter Your Bet Code</p>
            <span
              >Lorem ipsum dolor sit amet consectetur. Et consectetur sodales
              tortor vulputate in. Porttitor</span
            >
          </div>
        </div>

        <!-- single item  -->
        <div class="item" data-aos="flip-left" data-aos-duration="2000">
          <div class="top">
            <div class="outer-circle">
              <div class="middle-circle">
                <div class="inner-circle">
                  <div class="value-circle">
                    <span> 02 </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="down">
            <p>Select Origin Bookie</p>
            <span
              >Lorem ipsum dolor sit amet consectetur. Et consectetur sodales
              tortor vulputate in. Porttitor</span
            >
          </div>
        </div>

        <!-- single item  -->
        <div class="item" data-aos="flip-right" data-aos-duration="2000">
          <div class="top">
            <div class="outer-circle">
              <div class="middle-circle">
                <div class="inner-circle">
                  <div class="value-circle">
                    <span> 03 </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="down">
            <p>Select Origin Bookie</p>
            <span
              >Lorem ipsum dolor sit amet consectetur. Et consectetur sodales
              tortor vulputate in. Porttitor</span
            >
          </div>
        </div>

        <!-- single item  -->
        <div class="item" data-aos="flip-left" data-aos-duration="2000">
          <div class="top">
            <div class="outer-circle">
              <div class="middle-circle">
                <div class="inner-circle">
                  <div class="value-circle">
                    <span> 04 </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="down">
            <p>View Results</p>
            <span
              >Lorem ipsum dolor sit amet consectetur. Et consectetur sodales
              tortor vulputate in. Porttitor</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--=====HOW TO CONVERT CODES WHY AREA ENDS =======-->

<!--===== FREE BETS CODES AREA STARTS =======-->
<div class="free-bets-code-section">
  <div class="container">
    <div class="content">
      <div class="heading-tag">
        <h6
          data-aos="fade-right"
          style="display: flex; justify-content: center; gap: 10px"
          data-aos-duration="800"
        >
          Free <span class="d-none d-md-block">Bet</span> Codes
        </h6>
        <p data-aos="fade-left" data-aos-duration="800">
          It is a service that transfers bet selections from one betting site to
          another. Otherwise, bettors give up
        </p>
      </div>

      <div class="selectors" data-aos="zoom-in" data-aos-duration="1000">
        <!-- single seletor starts  -->
        <div class="single-selector">
          <!-- up  -->
          <div class="code">
            <p class="booking-code">RTH3Z</p>
            <p class="odds">534 odds</p>
          </div>

          <!-- middle  -->
          <div class="bet">
            <p>1xbet</p>
            <p>16 matches</p>
          </div>

          <!-- down  -->
          <div class="date">
            <p>July 19, 2024</p>
            <p>By Guest</p>
          </div>
        </div>
        <!-- single selector ends  -->

        <!-- single seletor starts  -->
        <div class="single-selector">
          <!-- up  -->
          <div class="code">
            <p class="booking-code">RTH3Z</p>
            <p class="odds">534 odds</p>
          </div>

          <!-- middle  -->
          <div class="bet">
            <p>1xbet</p>
            <p>16 matches</p>
          </div>

          <!-- down  -->
          <div class="date">
            <p>July 19, 2024</p>
            <p>By Guest</p>
          </div>
        </div>
        <!-- single selector ends  -->

        <!-- single seletor starts  -->
        <div class="single-selector">
          <!-- up  -->
          <div class="code">
            <p class="booking-code">RTH3Z</p>
            <p class="odds">534 odds</p>
          </div>

          <!-- middle  -->
          <div class="bet">
            <p>1xbet</p>
            <p>16 matches</p>
          </div>

          <!-- down  -->
          <div class="date">
            <p>July 19, 2024</p>
            <p>By Guest</p>
          </div>
        </div>
        <!-- single selector ends  -->

        <!-- single seletor starts  -->
        <div class="single-selector">
          <!-- up  -->
          <div class="code">
            <p class="booking-code">RTH3Z</p>
            <p class="odds">534 odds</p>
          </div>

          <!-- middle  -->
          <div class="bet">
            <p>1xbet</p>
            <p>16 matches</p>
          </div>

          <!-- down  -->
          <div class="date">
            <p>July 19, 2024</p>
            <p>By Guest</p>
          </div>
        </div>
        <!-- single selector ends  -->

        <!-- single seletor starts  -->
        <div class="single-selector">
          <!-- up  -->
          <div class="code">
            <p class="booking-code">RTH3Z</p>
            <p class="odds">534 odds</p>
          </div>

          <!-- middle  -->
          <div class="bet">
            <p>1xbet</p>
            <p>16 matches</p>
          </div>

          <!-- down  -->
          <div class="date">
            <p>July 19, 2024</p>
            <p>By Guest</p>
          </div>
        </div>
        <!-- single selector ends  -->

        <!-- single seletor starts  -->
        <div class="single-selector">
          <!-- up  -->
          <div class="code">
            <p class="booking-code">RTH3Z</p>
            <p class="odds">534 odds</p>
          </div>

          <!-- middle  -->
          <div class="bet">
            <p>1xbet</p>
            <p>16 matches</p>
          </div>

          <!-- down  -->
          <div class="date">
            <p>July 19, 2024</p>
            <p>By Guest</p>
          </div>
        </div>
        <!-- single selector ends  -->

        <!-- single seletor starts  -->
        <div class="single-selector">
          <!-- up  -->
          <div class="code">
            <p class="booking-code">RTH3Z</p>
            <p class="odds">534 odds</p>
          </div>

          <!-- middle  -->
          <div class="bet">
            <p>1xbet</p>
            <p>16 matches</p>
          </div>

          <!-- down  -->
          <div class="date">
            <p>July 19, 2024</p>
            <p>By Guest</p>
          </div>
        </div>
        <!-- single selector ends  -->

        <!-- single seletor starts  -->
        <div class="single-selector">
          <!-- up  -->
          <div class="code">
            <p class="booking-code">RTH3Z</p>
            <p class="odds">534 odds</p>
          </div>

          <!-- middle  -->
          <div class="bet">
            <p>1xbet</p>
            <p>16 matches</p>
          </div>

          <!-- down  -->
          <div class="date">
            <p>July 19, 2024</p>
            <p>By Guest</p>
          </div>
        </div>
        <!-- single selector ends  -->
      </div>

      <div class="see-more">
        <a
          href=""
          class="seemore-btn btn2"
          data-aos="fade-left"
          data-aos-duration="1000"
        >
          See More
          <i class="fa-solid fa-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<!--===== FREE BETS CODES AREA ENDS =======-->

<!--===== EXPLORE DEVELOPER API AREA STARTS =======-->
<div class="how-to-convert-section explore-api">
  <div class="container">
    <div class="content">
      <img
        src="{% static 'assets/img/patterns/explore-pattern.png' %}"
        class="explore-abs"
        alt=""
      />
      <div class="dark-header">
        <h6 data-aos="fade-up" data-aos-duration="600">
          Ready to Explore Developer API?
        </h6>
        <p data-aos="fade-up" data-aos-duration="800">
          It is a service that transfers bet selections from one betting site to
          another. Otherwise, bettors give up
        </p>

        <div class="explore-btn">
          <a
            href=""
            class="hero-btn btn2"
            data-aos="fade-left"
            data-aos-duration="1000"
          >
            Explore API
            <i class="fa-solid fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--===== EXPLORE DEVELOPR API AREA ENDS =======-->

<!--===== FAQ AREA STARTS =======-->
<div class="faq2-section-area">
  <div class="container">
    <div class="faq-content">
      <div class="left-content" data-aos="zoom-in" data-aos-duration="1000">
        <img src="{% static 'assets/img/icons/faq-icon.png' %}" alt="" />
        <h5>Frequently Asked Questions</h5>
        <p>
          It is a service that transfers bet selections from one betting site to
          another. Otherwise, bettors give up
        </p>
      </div>
      <div class="right">
        <div class="faq-auhtor-area1">
          <div
            class="accordion accordion-flush active"
            id="accordionFlushExample"
          >
            <div
              class="accordion-item"
              data-aos="fade-left"
              data-aos-duration="800"
            >
              <h2 class="accordion-header">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne"
                  aria-expanded="false"
                  aria-controls="flush-collapseOne"
                >
                  Developer API
                </button>
              </h2>
              <div
                id="flush-collapseOne"
                class="accordion-collapse collapse show"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  Whether you're wondering about our pricing plans, process
                  installation , or sustainability initiatives, we've got Best.
                </div>
              </div>
            </div>
            <div class="space10"></div>
            <div
              class="accordion-item"
              data-aos="fade-left"
              data-aos-duration="1000"
            >
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo"
                  aria-expanded="false"
                  aria-controls="flush-collapseTwo"
                >
                  Developer API
                </button>
              </h2>
              <div
                id="flush-collapseTwo"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet consectetur. Et consectetur sodales
                  tortor vulputate in. Porttitor
                </div>
              </div>
            </div>
            <div class="space10"></div>
            <div
              class="accordion-item"
              data-aos="fade-left"
              data-aos-duration="1200"
            >
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseThree"
                  aria-expanded="false"
                  aria-controls="flush-collapseThree"
                >
                  Developer API
                </button>
              </h2>
              <div
                id="flush-collapseThree"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet consectetur. Et consectetur sodales
                  tortor vulputate in. Porttitor
                </div>
              </div>
            </div>
            <div class="space10"></div>
            <div
              class="accordion-item"
              data-aos="fade-left"
              data-aos-duration="1400"
            >
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFour"
                  aria-expanded="false"
                  aria-controls="flush-collapseFour"
                >
                  Developer API
                </button>
              </h2>
              <div
                id="flush-collapseFour"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet consectetur. Et consectetur sodales
                  tortor vulputate in. Porttitor
                </div>
              </div>
            </div>
            <div class="space10"></div>
            <div
              class="accordion-item"
              data-aos="fade-left"
              data-aos-duration="1400"
            >
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFive"
                  aria-expanded="false"
                  aria-controls="flush-collapseFive"
                >
                  Developer API
                </button>
              </h2>
              <div
                id="flush-collapseFive"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  Lorem ipsum dolor sit amet consectetur. Et consectetur sodales
                  tortor vulputate in. Porttitor
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--===== FAQ AREA ENDS =======-->

{% endblock %}
