{% extends 'layout/base.html' %} {% load static %} {% block content %}

<!-- ===== CONTENT WRAPPER =======  -->
<div class="content-wrapper pricing">
  <div class="container">
    <div class="data-container">
      <div class="main-header">
        <div class="element">
          <h1>PRICING</h1>
          <p>
            It is a service that transfers bet selections from one betting site
            to another. Otherwise, bettors give up
          </p>
        </div>
      </div>

      <div class="sub-section-grid-price">
        <!-- single item start  -->
        <div class="single-item">
          <p class="plan">Plan</p>
          <h4 class="price">$49 <span>lorev</span></h4>

          <div class="price-content">
            <p>
              Lorem ipsum dolor sit amet consectetur. Et consectetur sodales
              tortor vulputate in. Porttitor
            </p>
          </div>

          <div class="price-list">
            <div class="sitem">
              <p>Manage 1,000 subs</p>
              <i class="ri-checkbox-circle-line"></i>
            </div>

            <div class="sitem">
              <p>Manage 1,000 subs</p>
              <i class="ri-checkbox-circle-line"></i>
            </div>

            <div class="sitem">
              <p>Manage 1,000 subs</p>
              <i class="ri-checkbox-circle-line"></i>
            </div>

            <div class="sitem">
              <p>Manage 1,000 subs</p>
              <i class="ri-checkbox-circle-line"></i>
            </div>
          </div>

          <div class="price-button">
            <a href="" class="header-btn3 btn2">
              Button
              <i class="fa-solid fa-arrow-right"></i>
            </a>
          </div>
        </div>
        <!-- single item ends  -->

        <!-- single item start  -->
        <div class="single-item extended">
          <p class="plan">Plan</p>
          <h4 class="price">$49 <span>lorev</span></h4>

          <div class="price-content">
            <p>
              Lorem ipsum dolor sit amet consectetur. Et consectetur sodales
              tortor vulputate in. Porttitor
            </p>
          </div>

          <div class="price-list">
            <div class="sitem">
              <p>Manage 1,000 subs</p>
              <i class="ri-checkbox-circle-line"></i>
            </div>

            <div class="sitem">
              <p>Manage 1,000 subs</p>
              <i class="ri-checkbox-circle-line"></i>
            </div>

            <div class="sitem">
              <p>Manage 1,000 subs</p>
              <i class="ri-checkbox-circle-line"></i>
            </div>
          </div>

          <div class="price-button">
            <a href="" class="header-btn3 btn2">
              Button
              <i class="fa-solid fa-arrow-right"></i>
            </a>
          </div>
        </div>
        <!-- single item ends  -->

        <!-- single item start  -->
        <div class="single-item">
          <p class="plan">Plan</p>
          <h4 class="price">$49 <span>lorev</span></h4>

          <div class="price-content">
            <p>
              Lorem ipsum dolor sit amet consectetur. Et consectetur sodales
              tortor vulputate in. Porttitor
            </p>
          </div>

          <div class="price-list">
            <div class="sitem">
              <p>Manage 1,000 subs</p>
              <i class="ri-checkbox-circle-line"></i>
            </div>

            <div class="sitem">
              <p>Manage 1,000 subs</p>
              <i class="ri-checkbox-circle-line"></i>
            </div>

            <div class="sitem">
              <p>Manage 1,000 subs</p>
              <i class="ri-checkbox-circle-line"></i>
            </div>

            <div class="sitem">
              <p>Manage 1,000 subs</p>
              <i class="ri-checkbox-circle-line"></i>
            </div>
          </div>

          <div class="price-button">
            <a href="" class="header-btn3 btn2">
              Button
              <i class="fa-solid fa-arrow-right"></i>
            </a>
          </div>
        </div>
        <!-- single item ends  -->

        <!-- single item start  -->
        <div class="single-item">
          <p class="plan">Plan</p>
          <h4 class="price">$49 <span>lorev</span></h4>

          <div class="price-content">
            <p>
              Lorem ipsum dolor sit amet consectetur. Et consectetur sodales
              tortor vulputate in. Porttitor
            </p>
          </div>

          <div class="price-list">
            <div class="sitem">
              <p>Manage 1,000 subs</p>
              <i class="ri-checkbox-circle-line"></i>
            </div>

            <div class="sitem">
              <p>Manage 1,000 subs</p>
              <i class="ri-checkbox-circle-line"></i>
            </div>
            <div class="sitem">
              <p>Manage 1,000 subs</p>
              <i class="ri-checkbox-circle-line"></i>
            </div>
          </div>

          <div class="price-button">
            <a href="" class="header-btn3 btn2">
              Button
              <i class="fa-solid fa-arrow-right"></i>
            </a>
          </div>
        </div>
        <!-- single item ends  -->
      </div>
    </div>
  </div>

  <!--===== HOW TO CONVERT CODES AREA STARTS =======-->
  <div class="how-to-convert-section">
    <div class="container">
      <div class="content">
        <div class="dark-header">
          <h6 data-aos="fade-up" data-aos-duration="800">
            How to Use Convert Codes
          </h6>
          <p data-aos="fade-up" data-aos-duration="1000">
            It is a service that transfers bet selections from one betting site
            to another. Otherwise, bettors give up
          </p>
        </div>

        <!-- how to covert grid  -->
        <div class="htc-grid">
          <!-- single item  -->
          <div class="item" data-aos="flip-right" data-aos-duration="2000">
            <div class="top">
              <div class="outer-circle">
                <div class="middle-circle">
                  <div class="inner-circle">
                    <div class="value-circle">
                      <span> 01 </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="down">
              <p>Enter Your Bet Code</p>
              <span
                >Lorem ipsum dolor sit amet consectetur. Et consectetur sodales
                tortor vulputate in. Porttitor</span
              >
            </div>
          </div>

          <!-- single item  -->
          <div class="item" data-aos="flip-left" data-aos-duration="2000">
            <div class="top">
              <div class="outer-circle">
                <div class="middle-circle">
                  <div class="inner-circle">
                    <div class="value-circle">
                      <span> 02 </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="down">
              <p>Select Origin Bookie</p>
              <span
                >Lorem ipsum dolor sit amet consectetur. Et consectetur sodales
                tortor vulputate in. Porttitor</span
              >
            </div>
          </div>

          <!-- single item  -->
          <div class="item" data-aos="flip-right" data-aos-duration="2000">
            <div class="top">
              <div class="outer-circle">
                <div class="middle-circle">
                  <div class="inner-circle">
                    <div class="value-circle">
                      <span> 03 </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="down">
              <p>Select Origin Bookie</p>
              <span
                >Lorem ipsum dolor sit amet consectetur. Et consectetur sodales
                tortor vulputate in. Porttitor</span
              >
            </div>
          </div>

          <!-- single item  -->
          <div class="item" data-aos="flip-left" data-aos-duration="2000">
            <div class="top">
              <div class="outer-circle">
                <div class="middle-circle">
                  <div class="inner-circle">
                    <div class="value-circle">
                      <span> 04 </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="down">
              <p>View Results</p>
              <span
                >Lorem ipsum dolor sit amet consectetur. Et consectetur sodales
                tortor vulputate in. Porttitor</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--=====HOW TO CONVERT CODES WHY AREA ENDS =======-->

  <!--===== FAQ AREA STARTS =======-->
  <div class="faq2-section-area">
    <div class="container">
      <div class="faq-content">
        <div class="left-content" data-aos="zoom-in" data-aos-duration="1000">
          <img src="{% static 'assets/img/icons/faq-icon.png' %}" alt="" />
          <h5>Frequently Asked Questions</h5>
          <p>
            It is a service that transfers bet selections from one betting site
            to another. Otherwise, bettors give up
          </p>
        </div>
        <div class="right">
          <div class="faq-auhtor-area1">
            <div
              class="accordion accordion-flush active"
              id="accordionFlushExample"
            >
              <div
                class="accordion-item"
                data-aos="fade-left"
                data-aos-duration="800"
              >
                <h2 class="accordion-header">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne"
                    aria-expanded="false"
                    aria-controls="flush-collapseOne"
                  >
                    Developer API
                  </button>
                </h2>
                <div
                  id="flush-collapseOne"
                  class="accordion-collapse collapse show"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">
                    Whether you're wondering about our pricing plans, process
                    installation , or sustainability initiatives, we've got
                    Best.
                  </div>
                </div>
              </div>
              <div class="space10"></div>
              <div
                class="accordion-item"
                data-aos="fade-left"
                data-aos-duration="1000"
              >
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo"
                    aria-expanded="false"
                    aria-controls="flush-collapseTwo"
                  >
                    Developer API
                  </button>
                </h2>
                <div
                  id="flush-collapseTwo"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">
                    Lorem ipsum dolor sit amet consectetur. Et consectetur
                    sodales tortor vulputate in. Porttitor
                  </div>
                </div>
              </div>
              <div class="space10"></div>
              <div
                class="accordion-item"
                data-aos="fade-left"
                data-aos-duration="1200"
              >
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree"
                    aria-expanded="false"
                    aria-controls="flush-collapseThree"
                  >
                    Developer API
                  </button>
                </h2>
                <div
                  id="flush-collapseThree"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">
                    Lorem ipsum dolor sit amet consectetur. Et consectetur
                    sodales tortor vulputate in. Porttitor
                  </div>
                </div>
              </div>
              <div class="space10"></div>
              <div
                class="accordion-item"
                data-aos="fade-left"
                data-aos-duration="1400"
              >
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFour"
                    aria-expanded="false"
                    aria-controls="flush-collapseFour"
                  >
                    Developer API
                  </button>
                </h2>
                <div
                  id="flush-collapseFour"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">
                    Lorem ipsum dolor sit amet consectetur. Et consectetur
                    sodales tortor vulputate in. Porttitor
                  </div>
                </div>
              </div>
              <div class="space10"></div>
              <div
                class="accordion-item"
                data-aos="fade-left"
                data-aos-duration="1400"
              >
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFive"
                    aria-expanded="false"
                    aria-controls="flush-collapseFive"
                  >
                    Developer API
                  </button>
                </h2>
                <div
                  id="flush-collapseFive"
                  class="accordion-collapse collapse"
                  data-bs-parent="#accordionFlushExample"
                >
                  <div class="accordion-body">
                    Lorem ipsum dolor sit amet consectetur. Et consectetur
                    sodales tortor vulputate in. Porttitor
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===== FAQ AREA ENDS =======-->
</div>
<!-- ===== CONTENT WRAPPER =======  -->

{% endblock %}
