{% extends 'layout/base.html' %} {% load static %} {% block content %}


    <!-- ===== CONTENT WRAPPER =======  -->
    <div class="content-wrapper contact-us">
      <div class="container">
        <div class="data-container">
          <div class="main-header">
            <div class="element">
              <h1>TERMS AND CONDITIONS</h1>
              <p>Last Updated: 21st October 2023</p>
            </div>
          </div>
        </div>
      </div>


      <!--===== TERMS STARTS =======-->
      <div class="faq2-section-area">
        <div class="container">
          <div class="privacy-content">
            <div class="inner-content">
              <!-- single item -->
              <div class="single-item">
                <div class="header-text">
                  <p>1. Acceptance of Terms</p>
                </div>

                <div class="sub-text">

                  <ul class="onlist">
                    <li class="num-list">
                      <i class="ri-focus-fill"></i>
                      <p>Welcome to Convertmybetcode! We're thrilled to provide you with a dynamic social network
                        designed for sports
                        enthusiasts. This includes our website, located at <a
                          href="convertmybetcode.com">convertmybetcode.com</a>, and our corresponding mobile
                        application. Our offerings encompass a variety of content, such as text, images, audio, code,
                        and more (collectively
                        known as the “Content”), along with a range of features and services provided through the Site
                        and app.</p>
                    </li>
                    <li class="num-list">
                      <i class="ri-focus-fill"></i>
                      <p>Before diving into the excitement, it's essential to review and understand the following Terms
                        of Use (referred to as
                        the “Terms”). By accessing or utilizing our Services, or by clicking to accept or agree to these
                        Terms where prompted,
                        you signify your agreement to:</p>
                    </li>
                    <li class="num-list">
                      <i class="ri-focus-fill"></i>
                      <p>1. Accept and abide by these Terms.</p>
                    </li>
                    <li class="num-list">
                      <i class="ri-focus-fill"></i>
                      <p>2. Consent to the collection, use, disclosure, and handling of information as outlined in our
                        Privacy Policy (accessible
                        online at <a href="Convertmybetcode.com">Convertmybetcode.com</a> ).</p>
                    </li>
                    <li class="num-list">
                      <i class="ri-focus-fill"></i>
                      <p>3. Adhere to any additional terms, rules, and conditions of participation that Convertmybetcode
                        may introduce
                        periodically.</p>
                    </li>
                    <li class="num-list">
                      <i class="ri-focus-fill"></i>
                      <p>Should you disagree with any aspect of these Terms, kindly refrain from accessing or utilizing
                        the Content or Services.</p>
                    </li>
                  </ul>
                </div>
              </div>



              <!-- single item -->
              <div class="single-item">
                <div class="header-text">
                  <p>2. Modification of Terms of Use</p>
                </div>

                <div class="sub-text">
                  <ul class="onlist">
                    <li class="num-list">
                      <i class="ri-focus-fill"></i>
                      <p>Except for Section 15, which pertains to binding arbitration and waiver of class action rights,
                        Convertmybetcode
                        reserves the right, at its sole discretion, to modify or replace the Terms of Use at any time.
                        The most current version
                        of these Terms will be posted on our Site. It is your responsibility to review and become
                        familiar with any such
                        modifications. In the event of a material revision to the Terms, as determined solely by us, we
                        will notify you via the
                        email address associated with your account. Your continued use of the Services following any
                        modification to the Terms
                        constitutes your acceptance of the modified Terms of Use.</p>
                    </li>
                  </ul>
                </div>
              </div>


              <!-- single item -->
              <div class="single-item">
                <div class="header-text">
                  <p>3. Eligibility</p>
                </div>

                <div class="sub-text">
                  <ul class="onlist">
                    <li class="num-list">
                      <i class="ri-focus-fill"></i>
                      <p>By using our Services, you represent and warrant that you are fully able and competent to enter
                        into and comply with the
                        terms, conditions, obligations, affirmations, representations, and warranties outlined in these
                        terms. Specifically:
                      </p>
                    </li>

                    <li class="num-list">
                      <i class="ri-focus-fill"></i>
                      <p>- You are confirming that you are 18 years of age or older. <br>
                        - You agree to abide by these Terms of Use and any other agreements between you and
                        Convertmybetcode regarding your use
                        of the Service. Failure to meet the eligibility requirements outlined in this section will
                        result in the termination of
                        your authorization to use the Service.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>


              <!-- single item -->
              <div class="single-item">
                <div class="header-text">
                  <p>4. Conditions of Participation</p>
                  <p>4.1 Registration</p>
                </div>

                <div class="sub-text">
                  <ul class="onlist">
                    <li class="num-list">
                      <i class="ri-focus-fill"></i>
                      <p>To participate in a contest on the Service, you must register for an account. By registering,
                        you agree to provide
                        accurate, current, and complete information about yourself (referred to as the “Registration
                        Data”), and to promptly
                        update this information to maintain its accuracy. Convertmybetcode reserves the right to deny
                        access to areas requiring
                        registration or terminate your account if the provided information is inaccurate, not current,
                        or incomplete.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>


              <!-- single item -->
              <div class="single-item">
                <div class="header-text">
                  <p>4.2 Account Security</p>
                </div>

                <div class="sub-text">
                  <ul class="onlist">
                    <li class="num-list">
                      <i class="ri-focus-fill"></i>
                      <p>Upon registration for online account access, you must provide a valid email address and create
                        a Username and Password.
                        Your Username must not promote commercial ventures or contain offensive content, as determined
                        solely by
                        Convertmybetcode. You are responsible for maintaining the confidentiality of your account
                        credentials and are liable for
                        all activities associated with your account. Notify Convertmybetcode immediately of any
                        unauthorized account access or
                        security breaches. Convertmybetcode may, at its discretion, deny access or block transactions
                        made using your account
                        without prior notice if unauthorized use is suspected.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- single item -->
              <div class="single-item">
                <div class="header-text">
                  <p>4.3 Communications and Information Practices</p>
                </div>

                <div class="sub-text">
                  <ul class="onlist">
                    <li class="num-list">
                      <i class="ri-focus-fill"></i>
                      <p>By registering for the Service, you may receive commercial communications from
                        Convertmybetcode. You have the option to
                        opt out of receiving these communications using the provided unsubscribe functionality. However,
                        we may still
                        communicate with you via email as permitted by applicable law.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>


              <!-- single item -->
              <div class="single-item">
                <div class="header-text">
                  <p>4.4 Disqualification and Service Modifications</p>
                </div>

                <div class="sub-text">
                  <ul class="onlist">
                    <li class="num-list">
                      <i class="ri-focus-fill"></i>
                      <p>Convertmybetcode reserves the right to disqualify, suspend, limit, or terminate your account if
                        your conduct is deemed
                        improper, unfair, fraudulent, or detrimental to the operation of the Service or other users.
                        Improper conduct includes,
                        but is not limited to, falsifying personal information, violating the rules, tampering with the
                        Service, or abusing the
                        Service. In the event of unforeseen circumstances affecting the Service's operation,
                        Convertmybetcode may cancel,
                        terminate, modify, or suspend the Service at its sole discretion. Such actions will be
                        communicated via notification on
                        the Site.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>


              <!-- single item -->
              <div class="single-item">
                <div class="header-text">
                  <p>5. Service and Chats</p>
                  <p>5.1 Service</p>
                </div>

                <div class="sub-text">
                  <ul class="onlist">
                    <li class="num-list">
                      <i class="ri-focus-fill"></i>
                      <p>Convertmybetcode provides a platform for users to send and receive messages and images publicly
                        and in private chats.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>



              <!-- single item -->
              <div class="single-item">
                <div class="header-text">
                  <p>5.2 Private Chats</p>
                </div>

                <div class="sub-text">
                  <ul class="onlist">
                    <li class="num-list">
                      <i class="ri-focus-fill"></i>
                      <p>Convertmybetcode facilitates direct messaging between users, allowing for easy exchange of
                        messages.
                      </p>
                    </li>
                    <li class="num-list">
                      As part of the Service, Convertmybetcode may send administrative messages to users, such as
                      notifications about new
                      features or welcome messages for new users. By signing up for the Service, you agree to receive
                      such messages.
                      Convertmybetcode administrators and moderators endeavor to promptly remove or edit any
                      objectionable material. By
                      agreeing to these Terms:(i) You understand that posts on the feed and in groups represent the
                      views of the author,
                      not Convertmybetcode, its administrators, moderators, or webmaster, and therefore,
                      Convertmybetcode is not liable
                      for the content posted, including but not limited to features such as posting GIFs through Giphy,
                      sharing links,
                      onboarding processes, or displaying trending posts.(ii) You agree not to post commercial
                      solicitations or advertise
                      products or services.(iii) You agree not to post abusive, obscene, vulgar, slanderous, hateful,
                      threatening,
                      sexually-oriented, or otherwise unlawful material. Violation of this may result in immediate and
                      permanent banning,
                      with relevant authorities informed, and IP addresses recorded.(iv) You acknowledge that
                      Convertmybetcode's
                      webmaster, administrator, and moderators have the right to remove, edit, move, or close any topic
                      at their
                      discretion..(v) You consent to the storage of any personal information you provide in a database.
                      While
                      Convertmybetcode endeavors to protect this information, it cannot be held responsible for any
                      unauthorized access
                      due to hacking attempts.

                      </p>
                    </li>
                  </ul>
                </div>
              </div>


              <!-- single item -->
              <div class="single-item">
                <div class="header-text">
                  <p>6. Conduct</p>
                </div>

                <div class="sub-text">
                  <ul class="onlist">
                    <li class="num-list">
                      <i class="ri-focus-fill"></i>
                      <p>As a condition of use, you agree not to employ the Services for unlawful or prohibited
                        purposes. If you share content on
                        the Service, you are solely responsible for its legality and any resultant harm.
                      </p>
                    </li>

                    <li class="num-list">
                      <p>By using the Service, you affirm that you own or have the rights to share any content you post.
                        You agree not to engage
                        in prohibited activities, including: <br>
                        (i) Copying, distributing, or disclosing any part of the Service. <br>
                        (ii) Using automated systems to access the Service excessively. <br>
                        (iii) Interfering with the proper functioning of the Service. <br>
                        (iv) Transmitting spam or unsolicited emails. <br>
                        (v) Attempting to compromise system security. <br>
                        (vi) Uploading malicious software. <br>
                        (vii) Harvesting personal information. <br>
                        (viii) Using the Service for commercial solicitation. <br>
                        (ix) Impersonating others or conducting fraud. <br>
                        (x) Interfering with Service operations. <br>
                        (xi) Accessing content through unauthorized means. <br>
                        (xii) Using artificial means to inflate standings on leaderboards. <br>
                        (xiii) Advertising or soliciting without explicit consent. <br>
                        (xiv) Transferring profiles
                      </p>
                    </li>
                  </ul>
                </div>
              </div>


              <!-- single item -->
              <div class="single-item">
                <div class="header-text">
                  <p>7. Violation of Rules and User Content</p>
                </div>

                <div class="sub-text">
                  <ul class="onlist">
                    <li class="num-list">
                      <i class="ri-focus-fill"></i>
                      <p>Violation of our rules may result in the removal of your Content from the Service and/or the
                        cancellation of your
                        account. You acknowledge and agree that Convertmybetcode reserves the right to remove any User
                        Content and terminate any
                        Convertmybetcode account at any time for any reason, including upon receipt of claims or
                        allegations relating to such
                        User Content. To report violations, please email <a
                          href="mailto:Convertmybetcode@gmail.com">Convertmybetcode@gmail.com</a>
                      </p>
                    </li>
                  </ul>
                </div>
              </div>


              <!-- single item -->
              <div class="single-item">
                <div class="header-text">
                  <p>8. User Content</p>
                </div>

                <div class="sub-text">
                  <ul class="onlist">
                    <li class="num-list">
                      <i class="ri-focus-fill"></i>
                      <p>You understand that all Content made available on the Service by a user (“User Content”),
                        including profile information
                        and communications, is the sole responsibility of the user. You are entirely responsible for all
                        User Content you
                        upload, post, share, or otherwise make available via the Service. Convertmybetcode may
                        pre-screen User Content but
                        reserves the right to refuse, delete, modify, and move any User Content that violates these
                        Terms or is otherwise
                        objectionable. You acknowledge and agree to evaluate and bear all risks associated with the use
                        or disclosure of any
                        User Content. By using the Service, you grant Convertmybetcode a license to use, distribute,
                        reproduce, modify, and
                        publicly display User Content
                      </p>
                    </li>
                  </ul>
                </div>
              </div>


              <!-- single item -->
              <div class="single-item">
                <div class="header-text">
                  <p>9. Interactions and Disputes</p>
                </div>

                <div class="sub-text">
                  <ul class="onlist">
                    <li class="num-list">
                      <i class="ri-focus-fill"></i>
                      <p>You are solely responsible for your interactions with other users of the Service.
                        Convertmybetcode reserves the right to
                        monitor disputes between users but has no obligation to do so.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>


              <!-- single item -->
              <div class="single-item">
                <div class="header-text">
                  <p>10. Indemnity</p>
                </div>

                <div class="sub-text">
                  <ul class="onlist">
                    <li class="num-list">
                      <i class="ri-focus-fill"></i>
                      <p>You agree to indemnify, defend, and hold harmless Convertmybetcode and its affiliates from any
                        losses, liabilities,
                        expenses, damages, or claims arising from your use of the Software and/or Service, your
                        violation of these Terms, or any
                        acts or omissions that implicate publicity rights, defamation, or invasion of privacy.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>


              <!-- single item -->
              <div class="single-item">
                <div class="header-text">
                  <p>11. Warranty Disclaimers</p>
                </div>

                <div class="sub-text">
                  <ul class="onlist">
                    <li class="num-list">
                      <i class="ri-focus-fill"></i>
                      <p>The Software and Service are provided on an "as is" and "as available" basis. Convertmybetcode
                        and its affiliates disclaim all warranties, including but not limited to the implied warranties
                        of merchantability and fitness for a particular purpose. Convertmybetcode does not guarantee the
                        accuracy, completeness, or usefulness of the Service, and you rely on it at your own risk.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>


              <!-- single item -->
              <div class="single-item">
                <div class="header-text">
                  <p>12. Limitation on Liability</p>
                </div>

                <div class="sub-text">
                  <ul class="onlist">
                    <li class="num-list">
                      <i class="ri-focus-fill"></i>
                      <p>Convertmybetcode and its affiliates will not be liable for any indirect, incidental, special,
                        consequential, or
                        exemplary damages arising from your use of the Software or Service. Convertmybetcode's total
                        liability, regardless of
                        the forum or basis of any action or claim, will not exceed the total amount paid by you to
                        Convertmybetcode for the
                        Software or Service or $50, whichever is greater.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>


              <!-- single item -->
              <div class="single-item">
                <div class="header-text">
                  <p>13. Our Proprietary Rights</p>
                </div>

                <div class="sub-text">
                  <ul class="onlist">
                    <li class="num-list">
                      <i class="ri-focus-fill"></i>
                      <p>All title, ownership, and intellectual property rights in the Service are owned by
                        Convertmybetcode or its licensors.
                        You agree not to copy, modify, sell, distribute, or create derivative works based on the Service
                        without
                        Convertmybetcode's authorization.
                      </p>
                    </li>

                  </ul>
                </div>
              </div>


              <!-- single item -->
              <div class="single-item">
                <div class="header-text">
                  <p>14. Links</p>
                </div>

                <div class="sub-text">
                  <ul class="onlist">
                    <li class="num-list">
                      <i class="ri-focus-fill"></i>
                      <p>Convertmybetcode is not responsible for the content of external sites linked to the Service.
                        You acknowledge and agree
                        that Convertmybetcode shall not be liable for any damage or loss caused by or in connection with
                        the use of such
                        content.
                      </p>
                    </li>

                  </ul>
                </div>
              </div>



              <!-- single item -->
              <div class="single-item">
                <div class="header-text">
                  <p>15. Termination and Suspension</p>
                </div>

                <div class="sub-text">
                  <ul class="onlist">
                    <li class="num-list">
                      <i class="ri-focus-fill"></i>
                      <p>Convertmybetcode may terminate or suspend the Service and your Convertmybetcode account without
                        prior notice or
                        liability. Upon termination, your right to use the Service will cease. Certain provisions of the
                        Terms will survive
                        termination, including Conditions of Participation, Conduct, Indemnity, Warranty Disclaimers,
                        Limitation on Liability,
                        Our Proprietary Rights, Links, and Termination.
                      </p>
                    </li>

                  </ul>
                </div>
              </div>


              <!-- single item -->
              <div class="single-item">
                <div class="header-text">
                  <p>16. No Third Party Beneficiaries</p>
                </div>

                <div class="sub-text">
                  <ul class="onlist">
                    <li class="num-list">
                      <i class="ri-focus-fill"></i>
                      <p>There shall be no third-party beneficiaries to the Terms
                      </p>
                    </li>
                    <li class="num-list">
                      <p>Application License
                      </p>
                    </li>
                    <li class="num-list">
                      <i class="ri-focus-fill"></i>
                      <p>
                        You are granted a limited, non-exclusive, non-transferable license to use the app for personal
                        use. Convertmybetcode
                        reserves all rights not expressly granted to you
                      </p>
                    </li>

                    <li class="num-list">
                      <p>
                        Content
                      </p>
                    </li>
                    <li class="num-list">
                      <i class="ri-focus-fill"></i>
                      <p>
                        Content transmitted through the Service is not representative of Convertmybetcode's opinions.
                        Links transmitted in group
                        chats or publicly are not endorsed by or affiliated with Convertmybetcode. The Terms govern all
                        use of the Service.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>


              <!-- single item -->
              <div class="single-item">
                <div class="header-text">
                  <p>16.1 Content Licensing</p>
                </div>

                <div class="sub-text">
                  <ul class="onlist">
                    <li class="num-list">
                      <i class="ri-focus-fill"></i>
                      <p>By using Convertmybetcode and submitting Content publically, direct messages to users, or a
                        group chat, you grant
                        Convertmybetcode a worldwide, royalty-free, perpetual, fully sublicensable, and non-exclusive
                        license to reproduce,
                        modify, adapt, and publish the Content in connection with the Service. Without limiting any of
                        those representations or
                        warranties, Convertmybetcode has the right (though not the obligation) to, in its sole
                        discretion <br>
                        (i) refuse or remove
                        any content that, in Convertmybetcode's opinion, violates any Convertmybetcode policy or is in
                        any way harmful or
                        objectionable, or <br>
                        (ii) terminate or deny access to and use of the Service to any individual or entity for any
                        reason, in
                        Convertmybetcode's sole discretion. This may include modifying or stopping the Service in its
                        entirety.
                      </p>
                    </li>

                  </ul>
                </div>
              </div>

              <!-- single item -->
              <div class="single-item">
                <div class="header-text">
                  <p>17. General Information</p>
                  <p>17.1 Entire Agreement</p>
                </div>

                <div class="sub-text">
                  <ul class="onlist">
                    <li class="num-list">
                      <i class="ri-focus-fill"></i>
                      <p>These Terms constitute the entire agreement between Convertmybetcode and you concerning the
                        subject matter hereof, and
                        may only be modified by a written amendment signed by an authorized executive of
                        Convertmybetcode, or by the posting by
                        Convertmybetcode of a revised version. You agree that any notice, agreements, disclosure, or
                        other communications that
                        we send to you electronically will satisfy any legal communication requirements, including that
                        such communications be
                        in writing or otherwise authorized.
                      </p>
                    </li>
                  </ul>
                </div>
              </div>



              <!-- single item -->
              <div class="single-item">
                <div class="header-text">
                  <p>17.2 Waiver and Severability of Terms</p>
                </div>

                <div class="sub-text">
                  <ul class="onlist">
                    <li class="num-list">
                      <i class="ri-focus-fill"></i>
                      <p>
                        The failure of Convertmybetcode to exercise or enforce any right or provision of the Terms shall
                        not constitute a waiver
                        of such right or provision. Suppose any provision of the Terms is found by an arbitrator or
                        court of competent
                        jurisdiction to be invalid. In that case, the parties nevertheless agree that the arbitrator or
                        court should endeavor to
                        give effect to the parties’ intentions as reflected in the provision, and the other provisions
                        of the Terms remain in
                        full force and effect.
                      </p>
                    </li>

                  </ul>
                </div>
              </div>

              <!-- single item -->
              <div class="single-item">
                <div class="header-text">
                  <p>17.3 Statute of Limitations</p>
                </div>

                <div class="sub-text">
                  <ul class="onlist">
                    <li class="num-list">
                      <i class="ri-focus-fill"></i>
                      <p>
                        You agree that regardless of any statute or law to the contrary, any claim or cause of action
                        arising out of or related
                        to the use of the Service or the Terms must be filed within one (1) week after such claim or
                        cause of action arose or be
                        forever barred.
                      </p>
                    </li>

                  </ul>
                </div>
              </div>


              <!-- single item -->
              <div class="single-item">
                <div class="header-text">
                  <p>17.4 Section Titles</p>
                </div>

                <div class="sub-text">
                  <ul class="onlist">
                    <li class="num-list">
                      <i class="ri-focus-fill"></i>
                      <p>
                        The section titles in the Terms are for convenience only and have no legal or contractual
                        effect.
                      </p>
                    </li>

                  </ul>
                </div>
              </div>

              <!-- single item -->
              <div class="single-item">
                <div class="header-text">
                  <p>17.5 Communications</p>
                </div>

                <div class="sub-text">
                  <ul class="onlist">
                    <li class="num-list">
                      <i class="ri-focus-fill"></i>
                      <p>
                        Users with questions, complaints, or claims concerning the Service may contact us using the relevant contact information
                        set forth above or send an email to <a href="mailto:Convertmybetcode@gmail.com">Convertmybetcode@gmail.com</a>.
                      </p>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
    <!-- ===== CONTENT WRAPPER =======  -->


{% endblock %}