{% extends 'layout/auth_base.html' %} {% load static %} {% block content %}

<!-- ===== CONTENT WRAPPER =======  -->
<div class="log-layout">
  <div class="content">
    <section class="template">
      <div class="log-logo">
      <img src=" {% static 'assets/img/logo/log-logo.png' %}" alt="Logo" />
      </div>
      <form action="">
        <div class="log-header">
          <h1>Forgot Password</h1>
          <p>
            Enter your registered email to get the recovery code sent to you.
          </p>
        </div>

        <div class="log-input">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="floatingPassword"
              placeholder="Enter Email Address"
            />
            <label for="floatingPassword">Email Address</label>
          </div>
        </div>

        <div class="log-btn">
          <button type="submit" class="hero-btn btn2">Get Link</button>
        </div>
      </form>
    </section>
  </div>
</div>
<!-- ===== CONTENT WRAPPER =======  -->

{% endblock %}
